.search-container {
  margin: 20px auto; /* Set margin to auto for centering horizontally */
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.search-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}
/* View_Customer_by_acc_no.css */
.full-width-table {
  width: 100%; /* Table takes up full width */
}
